
<html lang="en">
  <%- include('./partials/head.ejs') %> 
    <body>
       
        <%- include('./partials/nav.ejs') %> 
      
      
    
       
            <h3 id="latest">Latest Blogs</h3>

                <section>

                    <div id="blog-display">
                        
            <% if(blogs.length>0) {%> 
                <% blogs.forEach(blogs =>{ %> 
                    <div id="blog-container">
                        <h3 id="blog-title"><%= blogs.title%></h3>
                        <p id="blog-snippet"><%= blogs.snippet%></p>
                    </div>
                    <%})  %> 
            <%  }else {%> 

         
                <p>There are No Blogs to display</p>
                <% } %> 
           


     
      
               
            </div>
            </section>
            <%- include('./partials/footer.ejs') %> 
    </body>
    </html>